body {
    background-color: #FFE;
}

h1 {
    text-align: center;
}

#todoTasksForm input {
    margin-bottom: 1.2em;
}

.listItem {
    margin-bottom: 0.8em;
}

.listItem button {
    margin-right: 0.5em;
}

.panel.accordionPanel {
    background-color: #FFE;
    color: #000;
}

img {
    width: 100%;
    height: 15em;
}

input[type=file] {
    margin: 0 auto;
}